#title {
    padding: 1.5% 0 2.5% 0;
    font-size: 7em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.container {
    padding: 2.5% 2.5% 0.5% 2.5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
} 

.display-3 {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}